/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2') format('woff2');
}
@font-face{
    font-family: 'Thu phap';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/HL-OngDo-Unicode.ttf');
}
li{
    list-style: none;
}
a, span, p, div{
    font-family: 'Open Sans', arial, sans-serif;
}
a:hover{
    text-decoration: none;
}
.div-title-header{
    width: 100%;
    text-align: left;
    margin-bottom: 1rem;
}
.mr-15{
    margin: 15px;
}
.mr-tb15{
    margin: 15px 0;
}
.mr-lr15{
    margin: 0 15px;
}
.pd-15{
    padding: 15px;
}
.pd-tb15{
    padding: 15px 0;
}
.pd-lr15{
    padding: 0 15px;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #ffc107;
    padding: 0 2rem;
    text-transform: capitalize;
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-item:nth-child(1) .nav-link{
    padding: 0 1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: yellow;
}
.navbar-dark .navbar-nav .nav-item:hover {
    background-color: #464c53;
}

.navbar-nav{
    /* margin: 0 auto; */
}
#collapsibleMenu .nav-item{
    position: relative;
}

#collapsibleMenu .nav-item::before{
    content: '';
    display: block;
    width: 22px;
    height: 46px;
    position: absolute;
    top: 0px;
    right: -10px;
    /* background-image: url('image/0928499959.png'); */
}
#collapsibleMenu .nav-item:first-child::before, #collapsibleMenu .nav-item:last-child::before{
    content: '';
    background-image:unset;
}
/* #collapsibleMenu .nav-item:nth-child(1){
    background-color: #fff;
} */
#collapsibleMenu .nav-item.active a{
    color: #400000;
    background: #ffc107;
}
/* .navbar-dark .navbar-nav .nav-item:hover{
    color: yellow;
} */
.nav-item img{
    height: 42px;
    width: 42px;
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.bg-gradient-menu{
    background-color: #09111a!important;
    /* background-image: linear-gradient(#981b1e, #981b1e, #981b1e); */
    /* background-image: url('image/bg-menu.jpg'); */
    /* background-image: url('image/bg_nav_brown.png'); */
}
.color-dranger{
    color: #ff0033;
    font-style: italic;
}
.page-footer{
    /* background-image: linear-gradient(#00a95c, #006738, #006738); */
    /* background-image: url('image/bg-footer.jpg'); */
    background-color: rgba(9, 17, 26, 0.9);
    /* background-repeat: no-repeat;
    background-size: cover; */
}
.c-left{
    margin-left: 10%;
}
.p-left10{
    padding-left: 10%!important;
}
.w100-img{
    max-width: 100%;
}
.size-logo{
    width: 120px;
    margin: 0;
    vertical-align: middle;
    /* margin: 10% auto; */
}
.bg-hed{
    /* background: url(image/bg-header2.jpg) no-repeat center center; */
    /* background-size: cover; */
    /* background-color: #e6feff; */
    overflow: hidden;
    min-height: 150px;
}
.bg-hed .container{
    display: flex;
    justify-content: center;
    height: 165px;
    align-items: center;
}

.head-right span{
    color: #eb3d5a;
    font-size: 1.2rem;
    font-family: serif;
}

.head-right .brand-logo h1{
    margin-bottom: 0;
}
/* .logo-head{
    display: block;
    margin: 0;
    width: 250px;
    height: 150px;
    background: none;
} */
.m-b0{
    margin-bottom: 0;
}
.m-t0{
    margin-top: 0;
}
.m-l0{
    margin-right: 0;
}
.m-r0{
    margin-left: 0;
}
.color-a{
    color: #ffffff;
}
.color-a:hover{
    color: yellow;
}
.text-center{
    text-align: center;
}
nav{ 
    height: 42px;
    line-height: 42px;
}
.brand-logo h5, .brand-logo h1{
    color: #fff100;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 38px;
    /* text-shadow: -1px 0 #6c757d, 0 1px #cacaca, 1px 0 #cacaca, 0 -1px #cacaca; */
    text-transform: uppercase;
    margin-bottom: 0;
}
.grey-div{
    padding: 1.5rem 0;
    color: #fff;
    background: rgba(9, 17, 26, 0.8);
    /* background-image: url('image/bg-news.png'); */
}
.white-div{
    padding: 1.5rem 0;
}
.logo-head{
    /* margin-top: 3px; */
}
section{
    /* margin-top: 15px; */
}
nav ul a{
    font-size: 16px;
    /* font-family: 'Thu phap'; */
}
/* css header */
.title-header{
    color: #ff8500;
    font-size: 1.5rem;
    font-weight: 600;
    position: relative;
    /* background: url(image/icon-social/icon_banhxephap.png) no-repeat 0 0; */
    background-size: 1.5rem auto;
    padding: 0px 0 0 35px;
    margin-bottom: 13px;
    text-transform: uppercase;
}
.title-header:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 6px;
    left: 50px;
    height: 1px;
    background: rgba(34,104,165,0.2);
}
.title-header a{
    z-index: 10;
    position: relative;
}
.white-div .title-header a{
    background: #fff;
}
.grey-div .title-header a{
    background: #f9f6ee;
    color:#008a4b
}
.title-line-bottom{
    border-bottom: 1px solid #8b5200;
    line-height: unset;
    font-size: unset;
    padding: 0;
}
.box-title-left{
    margin-right: 0px!important;
}
.box-title-right{
    /* margin-right: 0px; */
}
.card .card-content{
    padding: 10px;
}
.margin0{
    margin: 0;
}
.margin0-bottom{
    margin-bottom: 0;
}
.text-copyr{
    background: #09111a;
    padding: 5px 0;
}
/*Banner css*/
.banner-item{
    height: 420px;
}
.banner-item img{
    width: 100%;
    max-height: 100%
}
.slick-prev:before, .slick-next:before{
    color: #008d4c;
}
.slick-dots li.slick-active button:before{
    width: 30px;
    height: 30px;
    color: #982b10;
    font-size: 10px;
}
.banner-title{
    position: absolute;
    bottom: 0;
    padding: 5px 15px;
    background: #ce3a186b;
    z-index: 999;
    width: 100%;
}
.banner-title a{
    color: #fff;
    font-size: 20px;
    font-weight: bold;
}
.newsest-content{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    margin-top: 10px;
}
.newsest-image{
    width: 25%;
    height: 120px;
    overflow: hidden;
}
.news-main-img{
    overflow: hidden;
}
.news-main-title{
    padding-top: 5px;
}
.newsest-image img, .news-main-img img{
    max-width: 100%;
    height: 100%;
    transition: transform .2s;
}
.newsest-image img:hover, .news-main-img img:hover{
    transform: scale(1.5);
}
.newsest-content-r{
    width: 73%;
    padding-left: 10px;
}
.newsest-title a{
    font-size: 16px;
    font-weight: 600;
    /* color: #111111; */
}
.newsest-title a:hover{
    color:#f0a91b;
}
.newsest-expect{
    color: #777;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.info-box{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #9E9E9E;
    font-size: 12px;
}
.newest-date, .newest-views{
    padding-left: 5px;
    padding-right: 5px;
}
.shadow{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
/* end banner css */

/* css tag a */
.title-a{
    font-size: 1.2rem;
    height: 30px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-weight: 600;
    color: #942a12;
}
.title-a:hover{
    color: #007bff;
}
/* end css tag a */
/* common css */
.exp-content{
    color: #777;
    height: 65px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 0.9rem;
}
.slick-banner, .slick-books, .slick-images{
    display: none;
}
.slick-slide {
    height:300px;
}
 
.slick-slide img {
    height:300px;
}
#banner{
    padding-top: 1px;
}
.mb0{
    margin-bottom: 0;
}
#section-news{
    background-image: url('image/bg-about.jpg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
/* #section-news, #section-radio{
    
} */
/* end common css */
/*css news*/
.news-content{
    display: flex;
    flex-flow: row nowrap;
}
.news-main{
    flex: 3;
    padding-right: 15px;
    padding-top: 15px;
    max-width: 25%;
}
.news-right{
    flex: 3;
}
.news-main-img img{
    width: 100%;
    height: 100%;
}
.news-right{
    padding-top: 15px;
}
.news-r-img{
    height: 60px;
    width: 80px;
    flex: 1
}
.news-r-info{
    flex: 3;
    padding-left: 5px;
}
.news-r-img img{
    width: 100%;
    height: 100%;
}
.news-main-info, .new-r-detail-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.news-item{
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
}
.news{
    padding-left: 0!important;
}
.news-main-img{
    height: 180px
}
/*end css news*/

/* css pháp âm */
.video-content{
    display: flex;
    flex-flow: row nowrap;
    margin-right: 0;
    margin-left: 0;
}
.video-content iframe.__youtube_prefs__ {
    border-width: 0;
    width: 100%;
    height: 360px;
}
.video-list, .video-main{
    padding-top: 15px;
}
.video-main{
    width: 67%;
    padding-right: 15px;
}
.video-right{
    width: 35%;
}
.video-list{
    display: flex;
    flex-flow: row nowrap;
}
.video-list .video-thumnail{
    width: 80px;
    height: 60px;
    flex: 1;
}
.video-list .video-thumnail img{
    width: 100%;
    height: 100%;
}
.video-title-right a{
    padding-left: 5px;
}
.video-rigth-info{
    display: flex;
    color: #777;
    font-size: 12px;
}
.video-title-right{
    padding-left: 5px;
    flex: 3;
}
.video-title-content{
    font-size: 16px;
    height: 25px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
/* end css pháp âm */
.brand-logo:hover{
    text-decoration: none;
}
.logo img{
    width: 140px;
    /* height: 100px; */
    /* margin-left: 15px; */
}

/* end css header */
/* /style book */
.style-book-cover{
    position: relative;
    z-index: 1;
    background:#9a2b11;
    padding: 20px 15px;
    border-radius: 15px;
    min-height: 10px;
}
.style-book-cover::before{
    width: 40px;
    height: 40px;
    background: #631b0b;
    border-radius: 0 0 15px 15px;
    -webkit-box-shadow: -10px 0 0 #9a2b11, -20px 0 0 #9a2b11, -30px 0 0 #9a2b11;
    -moz-box-shadow: -10px 0 0 #9a2b11,-20px 0 0 #9a2b11,-30px 0 0 #9a2b11;
    box-shadow: -10px 0 0 #9a2b11, -20px 0 0 #9a2b11, -30px 0 0 #9a2b11;
    right: -40px;
}
.style-book-cover:before, .style-book-cover:after{
    content: '';
    position: absolute;
    right: -40px;
    bottom: 0;
}
.style-book-list{
    margin: 25px 0;
    background: #f9f6ee;
    z-index: 99;
    position: relative;
    border-radius: 0 15px 15px 0;
}
.style-book{
    margin-left: 0;
    margin-right: 0;
}
.book-img{
    height: 250px;
    border: 1px solid #dcdcdc7d;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}
.book-img img{
    max-width: 100%;
    transition: transform .5s ease;
}
.book-title{
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
}
.book-title a{
    color: #fff;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.book-title a:hover{
    color: yellow;
}
.style-book-cover .info-box{
    color: #fff;
}
.b-item{
    padding: 15px;
    background: #fff;
}
.b-list .book-img{
    height: 200px;
}
.b-list .book-title a {
    color: #9a2b11;
}
.b-list .book-title a:hover {
    color: #007bff;
}
/* end style book */
/* footer style */
.f-info .white-text{
    color: white;
}
.f-info{
    text-align: center;
}
footer{
    color: white;
}
footer .name-title{
    padding-top: 15px;
}
footer .name-title a{
    font-size: 2.5rem;
    color: yellow;
    font-weight: 600;
    font-family: serif;
    text-transform: uppercase;
}
.main-footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
/* end footer style */
/* social style */
.content-social{
    position: fixed;
    right: 0;
    bottom: 5%;
    z-index: 99;
}
.list-social{
    display: flex;
    flex-flow: column;
    width: 80px;
    align-items: center;
}
.item-social img{
    width: 35px;
    /* padding: 5px 0; */
}
.item-social{
    margin-bottom: 5px;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid #fff;
    background-color: #ffc107;
}
.icon-socical{
    color: #09111a;
}
.item-social:hover{
    border: 1px solid #ffc107;
    background-color: #09111a;
}
.item-social:hover .icon-socical{
    color: #fff;
}
/* end social style */
/* /main css */
main{
    min-height: 80vh;
    margin-bottom: 15px;
}
/* end main css */
/* sub nav css */
#sub-nav{
    /* padding-bottom: 0.5rem; */
    margin-top: 5px;
}
#sub-nav ul{
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    margin-bottom: 0;
    border-left: 5px solid #ffc107;
}
#sub-nav ul li a{
    font-size: 14px;
    padding: 0 15px;
}
/* end sub nav */
/* css cau đối */
#poster{
    background: #f7f4ea;
}
.contain-caudoi{
    background: url('image/lostus-grey.png') no-repeat right bottom;
    background-size: contain;
    line-height : 3rem;
    font-family: 'Thu phap';
    min-height: 150px;
    color: #bb9546;
    font-size: 30px;
    align-items: center;
    display: flex;
    padding-left: 2rem;
}
.contain-caudoi p{
    line-height: 3rem;
    font-family: 'Thu phap';
    padding-left:0!important;
}
.contain-caudoi:hover, .contain-caudoi:hover p{
    color: #ff0033;
}
/* end css câu đối */
.top-main{
    display: flex;
    margin-bottom: 15px;
}
.top-main-img{
    margin-right: 15px;
}
.top-main-img img{
    height: 70px!important;
    width: 100px!important;
    border: 2px solid #dcdcdc8c;
    transition: transform .5s ease;
}
.top-main-img{
    overflow: hidden;
    height: 70px!important;
}
.top-main-content{
    flex: 2;
}
.video-thumnail{
    overflow: hidden;
}
.video-thumnail img{
    transition: transform .5s ease;
}
.top-news-content{
    /* display: flex;
    flex-flow: row nowrap; */
}
.main-left .top-main-title a{
    font-size: 1.2rem;
}
.main-left{
    padding-right: 15px;
    float: left;
    overflow: hidden;
    width: 50%;
}
.main-left .top-main-title{
    padding-top: 10px;
}
.main-left .main-left-img{
    height: 235px;
    overflow: hidden;
}
.main-left-img img{
    max-width: 100%;
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
}
.main-alert{
    min-height: 170px;
}
.top-main-img:hover img , .video-thumnail:hover img, .book-img:hover img, .main-left-img:hover img{
    transform: scale(1.25);
}
.top-main-title a{
    color: #942a12;
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
}
.top-main-info{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: #aaa;
    font-size: 0.8rem;
    font-style: italic;
}
.top-main-body{
    color: #777;
    height: 55px;
    padding-top: 5px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    font-family: sans-serif;
}
.main-right .top-main-title a{
    font-weight: 500;
}
.parent_title {
	border-bottom: 1px solid #09111a;
    display: flex;
    margin-bottom: 15px;
}
.parent_title p{
    background: #09111a;
    color: yellow;
    min-width: 150px;
    text-transform: uppercase;
    padding: 3px 9px;
    margin: 0;
    /* font-weight: bold; */
    font-size: 18px;
    border-radius: 0;
}
.parent_title img{
    vertical-align: top
}
.frame {
    background-color: #9e2c11;
    border: solid 1vmin #eee;
    border-bottom-color: #fff100;
    border-left-color: #d8cc05;
    border-radius: 2px;
    border-right-color: #d8cc05;
    border-top-color: #fff100;
    box-shadow: 0 0 5px 0 rgba(0,0,0,.25) inset, 0 5px 10px 5px rgba(0,0,0,.25);
    box-sizing: border-box;
    display: inline-block;
    /* margin: 15px; */
    /* height: 150px; */
    padding: 10px 25px;
    /* position: relative; */
    text-align: center;
}
.head-info{
    background: rgba(9, 17, 26, 0.75);
    float: left;
    width: 100%;
}
.head-info ul{
    float: right;
    margin-bottom: 0;
}
.head-info ul li{
    float: left;
    color: #fff;
    font-size: 12px;
    padding: 5px 10px;
    font-style: italic;
}
.list-info li:hover{
    color: yellow;
}
.sub-title{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: nowrap;
}
.sub-title b{
    display: block;
    flex: 3;
    height: 1px;
    background-color: #09111a;
}
.sub-title span{
    padding: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #3a4148;
    flex: 2;
    text-align: center;
}
.grey-div .sub-title span{
    color: #fff;
}
.grey-div .sub-title b {
    background-color: #fff;
}
.long-title b{
    flex: 1;
}
.long-title span{
    flex: unset;
}
.intro-img{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
}
.intro-img img{
    flex: 1;
    height: 250px;
    width: 30%;
    padding: 5px;
    border: 1px solid #797d82;
    margin: 5px;
}
.intro-text{
    text-align: center;
}
.intro-view-more{
    text-align: center;
    margin: 30px 0;
}
.intro-view-more a{
    /* color: #890500; */
}
.carousel-cell {
    width: 28%;
    height: 430px;
    margin: 10px;
    padding-bottom: 20px;
    /* border: 1px solid #dcdcdc; */
    text-align: center;
}
.carousel-cell img{
    width: 250px;
    margin-top: 5px;
    max-width: 100%;
}
#section-radio{
    min-height: auto;
    margin: 30px 0;
}
.pro-content .title{
    font-weight: 600;
    color: #890500;
    padding: 5px;
    margin-bottom: 0;
    overflow: hidden;
    height: 48px;
    justify-content: center;
    display: flex;
    align-items: center;
}
.carousel-cell:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.text-red{
    color: red;
}
.btn-add-cart{
    background: #ffc107;
    padding: 5px 25px;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid #ffec07;
    border-top: 5px solid #ffc107;
    border-bottom: 5px solid #d09d04;
    cursor: pointer;
}
.price{
    padding: 10px 0;
    margin: 0;
}
.ht-item{
    text-align: center;
    padding-bottom: 3rem;
}
.hti-img {
    text-align: center;
}
.hti-title{
    text-align: center;
    text-transform: uppercase;
    padding: 15px 0;
    font-weight: bold;
    font-size: 18px;
}
.hti-img img{
    width: 150px;
}
.hti-subtext{
    text-align: justify;
    /* font-style: italic; */
}
.lsni-img{
    justify-content: center;
    flex: auto;
    display: flex;
}
.lsni-img img{
    max-width: 100%;
    width: 150px;
}
.lsni-title{
    font-size: 16px;
    font-weight: bold;
}
.lsni-text{
    font-size: 14px;
    color: #333;
    word-break: break-word;
}
.lsn-item {
    padding: 15px 0;
    border-bottom: 1px solid #dcdcdc;
    margin-left: 0px;
    margin-right: 0px;
}
.text-just-center{
    justify-content: center;
}
.lsn-item:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.text-white{
    color: #fff!important;
}
.title-parent p{
    font-size: 18px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.title-parent p a{
    color: #09111ad6;
    font-style: italic;
}
.cart{
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
.cart a i{
    font-size: 24px;
    border-radius: 50%;
    background: rgb(70, 76, 83);
    padding: 15px;
    color: #f5e700;
}
.cart a i:hover{
    color: #007bff;
    background-color: #f5e700;
}
.cart p{
    margin: 0;
    padding-left: 5px;
    color: #09111a;
    font-style: italic;
}
/* SPham page */
.section-page{
    margin-top: 15px;
}
.sp-header{
    padding: 10px 0;
    background: #400000;
    text-align: center;
    color: #ff0;
    font-weight: bold;
    text-transform: uppercase;
}
.sp-list-header ul{
    padding-left: 15px;
    background: rgba(170, 170, 170, 0.3215686274509804);
}
.sp-list-header ul li{
    padding: 15px 0;
    color: #631b0b;
    border-bottom: 1px solid #dcdcdc;

}
.sp-img{
    overflow: hidden;
    margin-top: 5px;
}
.sp-img img{
    height: 250px;
    width: 250px;
    padding: 5px 0;
    max-width: 100%;
}
.sp-name{
    padding: 5px 0;
    font-weight: bold;
    text-transform: capitalize;
}
.sp-action{
    text-align: center;
    margin: 15px 0;
}

/* title header page */
.title-header-page h1{
    text-transform: uppercase;
    font-size: 16px;
    padding: 10px 15px;
    position: relative;
    font-weight: bold;
    /* background: #400000; */
    color: #400000;
    margin: 0;
}
.title-header-page h1::before{
    height: 2px;
    content: '';
    bottom: 0;
    width: 130px;
    left: 0px;
    position: absolute;
    background-color: #ffc107;
}
.sp-item{
    margin: 15px 0 0px 15px;
    border: 1px solid #dcdcdc;
    height: 410px;
    text-align: center;
}
/* pagination */
.pagination-list{
    text-align: center;
    display: block;
    width: 100%;
    margin: 10px 0;
}

.pagenavi{
    margin: 20px 0 20px 0;
}
    
.pagenavi span,.pagenavi a{color: #4d4d4d;padding:3px;margin-right:5px;background:transparent;border:1px solid #757575}
    
.pagenavi a:hover,.pagenavi .current{background:transparent;color:#4d4d4d;text-decoration:none}
    
.pagenavi .page-numbers,.pagenavi .current{color: #4d4d4d;font-weight:bold}
    
.pagenavi .current{color: red;}
    
.pagenavi .page-numbers{border:1px solid #DDD;padding: 8px; border-radius: 8px;}

.carousel-cell-pro {
    width: 100%; /* half-width */
    height: 250px;
    text-align: center;
    margin-right: 10px;
    overflow: hidden;
}
.carousel-cell-pro img{
    max-width: 100%;
    width: 250px;
}
.sp-content p{
    padding-bottom: 0;
}
.sp-content{
    margin-bottom: 70px;
}
.dsp-sp{
    margin-bottom: 30px;
}
.dsp-detail-sp table th{
    width: 30%;
    text-align: left;
    vertical-align: top;
}
.dsp-detail-sp table th, .dsp-detail-sp table td {
    padding: 5px 0;
    border-bottom: 1px solid #dcdcdc;
}
.dsp-ttsp{
    text-align: center;
    color: #7b0000;
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 20px;
}
.dsp-text-content{
    margin-top: 50px;
}
.dsp-name-sp h2 a{
    color: #7b0000;
}
.sp-list{
    margin-bottom: 15px;
}
.no-border{
    border: unset!important;
}
.btn-add-cart i{
    padding: 0 5px;
}
.btn-add-cart:hover{
    border-top: 5px solid #d09d04;
    border-bottom: 5px solid #ffc107;
    border-right: unset;
    border-left: unset;
}
.sp-item img{
    transition: transform .5s;
}
.sp-item:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.sp-item:hover img{
    transform: scale(1.25);
}
.sp-star{
    text-align: center;
    color: #ffc107;
}
.number-cart{
    font-size: 20px;
    font-weight: bold;
}
.section-payment{
    position: fixed;
    /* width: 100%; */
    bottom: 0;
    margin: 0 15%;
    height: 70px;
}
.section-tmp-payment{
    bottom: 230px;
}
.btn-payment{
    overflow: hidden;
    width: 345px;
    padding: 15px 50px;
    text-align: center;
    font-size: 23px;
    text-transform: uppercase;
    color: #ffffff;
    background: rgba(9, 17, 26, 0.5);
}
.btn-payment:hover{
    color: yellow;
    background: rgb(9, 17, 26);
}
.btn-payment .number-cart{
    font-size: 23px!important;
    color: #fff!important;
}
.btn-payment .left-content, .btn-payment .right-content{
    float: left;
}
/* alert payment */
.alert-cart{
    position: absolute;
    bottom: -55px;
    left: 65px;
    background: rgba(220, 220, 220, 0.5);
    padding: 5px 15px;
    display: none;
    z-index: 999;
    font-size: 12px;
    width: 100%;
    border-radius: 0px 5px 5px 5px;
    text-align: center;
}
.btn-go-payment{
    color: #fff;
    background: #e81c1c;
    padding: 5px 15px;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid #dcdcdc;
}
.btn-go-payment:hover{
    background: #db0808;
}
.i-close{
    position: absolute;
    width: 10px;
    font-size: 20px;
    right: 0;
    top: -5px;
    color: #400000;
}
/* menu fixed scroll */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(9, 17, 26, 0.51)!important;
    z-index: 999;
}

/* css news page */
.news-img figure{
    width: 150px;
    height: 150px;
    margin: 15px auto;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.news-img img{
    max-width: 100%;
    width: 150px;
    height: 150px;
}

.news-img figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.news-img figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}
.news-title h3{
    font-size: 20px;
    padding-top: 15px;
}
.post-date p{
    color: #8c8c8c;
    font-size: 14px;
    font-style: italic;
    margin-bottom: 5px;
}

.news-sub-content p{
    font-size: 16px;
    color: #333;
    margin-bottom: 0px;
}

.h2-title{
    width: 50%;
}

.h2-title h2{
    border-left: 5px solid #795548;
    width: 100%;
    background: #ffd7c9;
    padding: 10px;
    font-size: 20px;
    padding-left: 15px;
    margin-bottom: 15px;
}

.item-news{
    padding-bottom: 15px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    box-shadow: 5px 3px 20px 0px #dcdcdc;
}

.news-img{
    text-align: center;
}

/* css button */
.button {
    position: relative;
    background-color: #dcdcdc;
    border: none;
    font-size: 16px;
    color: #FFFFFF;
    padding: 2px 5px;
    /* width: 200px; */
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 150%;
    padding-left: 150%;
    margin-left: -20px !important;
    margin-top: -60%;
    opacity: 0;
    transition: all 0.8s;
}

.button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}
.list-action-socical ul{
    display: flex;
    padding-left: 0;
}
.list-action-socical ul li{
    padding-right: 5px;
    list-style: none;
}
/* end css news page */

/* checkout page */
.item-cart img{
    width: 150px;
    height: 150px;
    max-width: 100%;
}
.left-cart{
    margin: 15px 0;
}
.checkout-item{
    padding: 15px;
    margin: 0;
}
.checkout-item:hover{
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,.1);
    box-shadow: 0 0 20px rgba(0,0,0,.1);
}
.item-info-cart p{
    font-size: 18px;
    text-transform: capitalize;
}
.delete-item{
    padding: 2px 20px;
    font-size: 12px;
    color: #ff0000;
    border: 1px solid #c8c8c8;
    background: #fff;
}
.list-button-cart{
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-button-cart .number-item, .list-button-cart .item-subtract,.list-button-cart .item-addtract{
    width: 50px;
    padding: 5px;
    text-align: center;
    border: 1px solid #c8c8c8;
    color: #007bff;
    cursor: pointer;
    font-weight: bold;
}
.item-action-cart{
    align-self: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.right-cart label{
    width: 100%;
    font-weight: bold;
    text-transform: capitalize;
}
.right-cart input, .right-cart select{
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 5px;
}
.right-cart textarea{
    width: 100%;
    border-radius: 6px;
    padding: 5px;
}
.right-cart form{
    padding: 15px 10px;
    border: 1px solid #dcdcdc;
    background: #dcdcdc;
}
.right-cart button{
    background: #ef2929;
    width: 100%;
    border: 1px solid #eee;
    border-bottom: 5px solid #b51b1b;
    padding: 10px;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
    text-transform: capitalize;
}
.right-cart button:hover{
    border-top: 5px solid #b51b1b;
    border-bottom: unset;
}
/* css gioi thieu */
.btn-go-contact{
    text-align: center;
    font-size: 18px;
    color: #fff;
    text-transform: capitalize;
    padding: 5px 25px;
    background-color: #2196F3;
    border: 1px solid #2196f3;
    border-bottom: 5px solid #024579;
    border-top: 5px solid #2196f3;
    display: flex;
    min-width: 200px;
    justify-content: center;
}
.btn-go-contact span{
    display: none;
    transition: all 3s;
}
.btn-go-contact:hover{
    border-top: 5px solid #024579;
    border-bottom: 5px solid #2196f3;
    border-right: unset;
    border-left: unset;
}
.btn-go-contact:hover span{
    display: block;
}
.box-go-contact{
    JUSTIFY-CONTENT: center;
    margin: 25px 0;
}
.contain-aboutme{
    position: relative;
}
.bg-aboutme{
    background-image: url(lotus.png);
    background-position: right bottom;
    background-size: 25%;
    /* background-blend-mode: hue; */
    background-repeat: no-repeat;
    opacity: 0.4;
    height: 350px;
    width: 100%;
    position: absolute;
}
/* end page gioi thieu */
/* page lien hệ */
.contact-title{
    font-size: 18px;
    /* background: #b74c0d7a; */
    padding: 5px 15px;
    border-bottom: 1px solid #dcdcdc;
    border-left: 5px solid #3a4148;
    text-transform: capitalize;
    max-width: 50%;
    color: #3a4148;
    font-weight: bold;
}
.contain-map .contact-title{
    max-width: 50%;
}
.l-contact-info table{
    margin-left: 15px;
}
.contact-info .td-icon{
    width: 30px;
    text-align: center;
}
.r-contact-info form label{
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
    padding: 0 5px;
}
.r-contact-info form input{
    font-size: 16px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #c8c8c8;
    width: 100%;
    margin-bottom: 5px;
    padding-left: 15px;
}
.r-contact-info form textarea{
    width: 100%;
    border-radius: 6px;
    border: 1px solid #c8c8c8;
    padding-left: 15px;
}
.btn-sendmail{
    padding: 5px 35px;
    justify-content: space-between;
    text-align: center;
    display: flex;
    align-items: center;
    color: #fff;
    background: #f12626;
    border: 1px solid #fb0000;
    border-bottom: 5px solid #a20101;
    border-top: 5px solid #f12626;
}
.btn-sendmail:hover{
    border-top: 5px solid #a20101;
    border-bottom: 5px solid #f12626;
    border-right: unset;
    border-left: unset;
}
.r-contact-info form{
    padding-left: 15px;
}
.td-icon i {
    color: #81858a;
}
#gmap_canvas{
    width: 100%;
    min-height: 350px;
}
/* page lien hệ */

/* page child tin tuc */
.bg-news-child{
    margin: 15px;
}
.news-detail .parent-title h3{
    font-size: 22px;
}
.post-date{
    font-size: 14px;
    color: #868686;
    font-style: italic;
}
.list-btn-socical ul{
    padding-left: 0;
    display: flex;
}
.list-btn-socical li button{
    padding: 0px 15px;
    font-size: 12px;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
}
.list-btn-socical ul li{
    margin-right: 5px;
}
.box-err{
    display: none;
}
.box-err ul{
    padding-left: 15px;
}
.box-err ul li{
    font-size: 14px;
    color: red;
    list-style: disc;
}
.lh-title{
    justify-content: center;
}
.lh-title h1{
    font-size: 36px;
    padding: 15px 0;
    color: #400000;
}
.info-custome p{
    margin-bottom: 5px;
    padding-left: 15px;
}
.info-custome ul{
    padding-left:15px;
    margin-left: 0;
}
.info-custome{
    min-height: 150px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    padding: 5px 0;
    background: rgb(234, 232, 232);
    margin: 5px 15px 15px 15px;
    max-width: 95%;
}

.bg-success-order{
    font-size: 25px;
    margin: 15px;
    padding-top: 15px;
    text-align: center;
}
.bg-success-order img{
    max-width: 100%;
}
.page404{
    height: 100vh;
    background-image: url('image/404.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.page404 img{
    max-width: 100%;
    height: auto;
    display: block;
}
.news-lq li{
    list-style: disc;
}
/* end page child tin tuc */
/* end checkout page */
.title-parent h1{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
}
.logo{
    padding: 0;
}
.sm-intro{
    display: none;
}
.pc-intro{
    display: flex;
}
.intro-content figure{
    display: flex;
    flex: 1;
    position: relative;
    overflow: hidden;
}
.intro-content figure::before {
    position: absolute;
    top: 0;
    left: -75%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.intro-content figure:hover::before {
    -webkit-animation: shine .75s;
    animation: shine .75s;
}
.index-body{
    padding: 0;
}
.text-uppercasse{
    text-transform: uppercase;
}
@media only screen and (max-width: 414px) {
    .contain-aboutme{
        font-size: 14px;
    }
    .index-body{
        padding: 0 15px;
    }
    .sub-title {
        margin: 15px 0;
    }
    .sm-intro{
        display: block;
    }
    .pc-intro{
        display: none;
    }
    .bg-hed{
        text-align: center;
    }
    .head-info ul {
        float: unset;
        margin-left: 0;
        padding-left: 0;
    }
    .head-info ul li{
        float: left;
    }
    .head-info .icon-nav{
        display: none;
    }
    .bg-hed .container {
        flex-flow: wrap;
    }
    .logo img {
        width: 80px;
        margin: 5px 0;
    }
    .title-parent h1 {
        font-size: 24px;
    }
    .head-info ul li {    
        padding: 2px 10px;
    }
    .slick-slide img{
        height: 200px;
    }
    .slick-slide{
        height: auto;
    }
    .sub-title{
        font-size: 24px;
    }
    .sub-title span {
        flex: 4;
        font-size: 17px;
    }
    .sub-title b{
        flex: 1;
    }
    .carousel-cell{
        width: 100%;
    }
    .lsni-img img {
        width: 100px;
        height: 70px;
    }
    .lsni-text{
        display: none;
    }
    .bg-hed .container{
        height: auto;
    }
    .cart {
        justify-content: center;
        margin-bottom: 5px;
    }
    .title-parent p {
        margin-bottom: 0;
    }
    .list-info li:nth-child(1){
        display: none;
    }
    footer .name-title a {
        font-size: 24px;
    }
    .f-info p{
        font-size: 13px;
    }
    .cart a i {
        font-size: 18px;
    }
    .sm-intro {
        overflow: hidden;
    }
    .sm-intro .slick-slide img {
        height: 220px;
        width: 100%;
    }
    .intro-text {
        font-size: 13px;
    }
    .hti-subtext {
        font-size: 13px;
    }
    #section-news .container{
        padding: 0;
    }
    .lsni-img {
        padding-right: 0;
        padding-left: 0;
    }
    .list-news {
        margin-bottom: 15px;
    }
    #section-radio{
        margin: 15px -15px;
    }
    nav .navbar-toggler{
        font-size: 18px;
    }
    .navbar{
        padding: 3px 0;
    }
    #collapsibleMenu{
        z-index: 1;
        background: rgba(9, 17, 26, 0.8);
    }
    .navbar-dark .navbar-nav .nav-item:nth-child(1) .nav-link {
        padding: 0 15px;
        
    }
    #collapsibleMenu .nav-item.active a {
        background: rgba(245, 231, 0, 0.5);
    }
    .navbar-dark .navbar-nav .nav-item .nav-link {
        color: #FFEB3B;
        padding: 0 15px;
    }
    #collapsibleMenu .nav-item {
        position: relative;
        border-bottom: 1px dotted #ffffff;
    }
    .hti-img {
        margin-top: 10px;
    }
    nav .navbar-dark .navbar-toggler{
        border: unset;
    }
    .sp-item {
        margin: 5px 15px;
    }
    .sp-content {
        margin-bottom: 35px;
    }
    .section-payment {
        margin: 0 auto;    
        /* bottom: 50px; */
    }
    .btn-payment {
        width: auto;
        margin-bottom: 5px;
        padding: 10px 30px;
        margin-right: 15px;
    }
    .news-sub-content p{
        word-break: break-word;
    }
    .thank-text{
        font-size: 13px;
    }
    .contact-title {
        max-width: 100%;
    }
    .l-contact-info, .r-contact-info{
        margin-bottom: 15px;
        font-size: 14px;
    }
    .contain-map .contact-title{
        max-width: 100%;
    }
    .sp-edit{
        margin-bottom: 15px;
    }
    .bg-success-order {
        font-size: 18px;
    }
    .dsp-list-img{
        margin: 15px auto;
    }
    .dsp-info-sp{
        margin: 15px;
    }
    .no-border{
        text-align: center;
    }
    .dsp-sp {
        margin-bottom: 10px;
    }
    .dsp-text-content {
        margin-top: 10px;
    }
    #sub-nav ul .arow-icon a{
        padding: 0 5px;
    }
    .r-contact-info form label {
        font-size: 14px;
    }
    .lsni-title{
        font-size: 14px;
    }
    .lsni-text {
        font-size: 12px;
        text-align: justify;
    }
    .title-parent p a {
        color: #007bff;
        font-size: 13px;
        font-style: normal;
    }
    .cart a i {
        padding: 5px;
    }
    .cart p {
        font-size: 14px;
    }
    .post-date p {
        font-size: 12px;
    }
    .lsni-content{
        padding-left: 15px;
        padding-right: 0px;
    }
    .hti-img img {
        width: 80px;
    }
    .hti-title {
        font-size: 14px;
        padding: 5px 0;
    }
    .text-copyr {
        font-size: 14px;
    }
    .icon-socical {
        font-size: 14px;
    }
    .item-social {
        width: 30px;
        height: 30px;
        font-size: unset;
    }
    .list-social {
        width: 40%;
    }
    .contact-title{
        padding: 5px;
    }
    .white-div{
        padding-top: 0;
        padding-bottom: 15px;
    }
    .view-more a{
        font-size: 12px;
        margin-top: 15px;
    }
    #collapsibleMenu .nav-item.active a {
        color: #fff;
    }
    .ht-item {
        padding-bottom: 15px;
    }
    .contact-title {
        font-size: 15px;
    }
    .btn-add-cart, .price{
        font-size: 14px;
    }
    .grey-div {
        padding: 5px 0;
    }
    #section-radio {
        min-height: auto;
    }
    .carousel-cell{
        padding-bottom: 0;
    }
    .index-pr .flickity-page-dots{
        display: none;
    }
    .news-img figure {
        width: 100px;
        height: 70px;
    }
    .item-news{
        margin: 0;
        padding-bottom: 10px;
    }
    .news-img{
        padding: 0;
    }
    .news-img figure {
        width: 100%;
        height: 70px;
    }
    .news-title h3 {
        font-size: 16px;
        padding-top: 10px;
    }
    .news-sub-content p {
        font-size: 12px;
        color: #595959;
    }
    .news-img img {
        max-width: 100%;
        width: 100%;
        height: 100%;
    }
    .list-action-socical iframe{
        max-width: 100%;
    }
    .r-contact-info form input {
        font-size: 14px;
        padding: 6px;
        border-radius: 0;
    }
    .r-contact-info form label {
        padding: 0;
    }
    .r-contact-info form textarea {
        border-radius: unset;
    }
}
@media only screen and (max-width: 375px){
    .f-info p {
        font-size: 12px;
    }
    .title-parent h1 {
        font-size: 22px;
    }
    .sub-title span {
        font-size: 16px;
    }
}

@media only screen and (max-width: 320px){
    .title-parent h1 {
        font-size: 19px;
    }
    .head-info ul li {
        font-size: 10px;
    }
    footer .name-title a {
        font-size: 19px;
    }
    .f-info p {
        font-size: 10px;
    }
    .cart a i {
        font-size: 13px;
    }
    .cart p {
        font-size: 12px;
    }
    .title-parent p a {
        font-size: 12px;
    }
    .sub-title span {
        font-size: 14px;
    }
}